p{
    color: royalblue;
    background-color: saddlebrown;
}
h1{
    margin: 20px;
    color: salmon;
    background-color: seagreen;
}
div{
    color: sienna;
    background-color: silver;
    background-image: -moz-linear-gradient();
}